* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(204, 177, 177);
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  height: 40px;
  /* margin: 20px; */
  margin: 0px 20px;
  border-radius: 20px;
}
.Navbar-logo img{
  padding-top: 10px;
  height: 150px;
  width: auto;
}
.Navbar-links ul{
  display: flex;
  gap: 35px;
}
.Navbar-links li{
  cursor: pointer;
  font-size: 16px;
  list-style: none;
}
.Navbar-links li:hover{
  color: blue;
}

.Navbar button{
  height: 40px;
  width: 90px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 12px;
  background-color: rgb(74, 236, 74);
  color: black;
  border: none;
}

